body, html {
  padding: 0;
  margin: 0;
  color: black;
  text-align: center;
}

.banner {
  width: 1200px;
  background: transparent;
  padding: 10px 0;
  overflow: hidden;
}

.banner li {
  height: 100%;
  width: 1200px;
  padding: 10px;
  margin: 0;
  display: inline;
}

.banner li a {
  display: inline;
  padding: 12px 24px;
  text-decoration: none;
  color: Black;
}

#intro {
  margin-top: 30px;
  margin-bottom: 60px;
}

.Portfolio {
  background-color: black;
  color: white;
  padding: 7% 13%;
}
